.img-pokemon-wrapper img {
    width: 70px;
}

.pokemon-img {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}