header {
    background-color: #cd1b31;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.img-pokemon-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;

    p {
        font-family: "PocketMonk";
        font-size: 48px;
        color: white;
        text-shadow: -3px -3px 0 black;
    }
}

footer {
   background-color: #cd1b31; 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}